.imgixContainer {
    display: flex;
    border: 2px solid black;
    width: 85%;
    /* height: 80%; */
    margin: 5% auto;
}

/* .imgixContainer > div {
    width: 50%;
} */
.sideMenuContainer {
    width: 45%;

    margin: 5% 0 5% 3%;
    border: 2px solid black;
}

.imageContainer {
    width: 65%;
    /* height: 60%; */
    margin: 5%;
    position: relative;
    border: 2px solid black;
} 
 .image {
    position: relative;
    width: 100%;
    height: 100%;
}
.backgroundImage {
    position: relative;
    background-color: #4400bb;
    background-image: url(/Users/Sarvani/Documents/workspace/Practice/imgix/butterfly.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
}
.txt {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
}
.inputContainer {
    width: 50%;
    margin: auto;
    margin-top: 5%;
}
.dropdownArrow {
    display: inline-block;
    width: 0; 
    height: 0; 
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: relative;
    right: 3%;
} 
#submitBtnId {
    margin: auto;
    width: 20%;
    height: 8%;
    border-radius: 10px;
}

.btnContainer {
    text-align: center;
}
.menuList {
    list-style-type: none;
    margin-top: 8%;
    padding-left: 4%;
}
.menuListItem {
    padding-bottom: 10%;
    width: 95%;
}
.inputElement {
    width: 75%;
    height: 7%;
    float: right;
}

@media only screen and (max-width: 1250px) and (min-width: 900px) {
    .inputElement {
        width: 65%;
        height: 7%;
        float: right;
    }
}

@media only screen and (max-width: 900px) {
    input,label {
        display: block;
    }
    .inputElement {
        width: 80%;
        height: 7%;
        float: none;
    }
    .menuListItem {
        padding-bottom: 3%;
        width: 95%;
    }
    .menuList {
        list-style-type: none;
        margin-top: 5%;
        padding-left: 4%;
    }
}

.hide {
    display: none;
}
.show {
    display: block;
}
.textAlignDropdown {
    list-style-type: none;
    padding: 0;
    border: 1px solid black;
}
.textAlignElement {
    padding: 4% 4% 4% 40%;
}
#textAlignId {
    width: 75%;
    float: right;
}
/* #textAlignId > input {
    width: 100%;
    height: 10%;
} */
.top-left {
    top: 0;
    left: 0;
}
.top-right {
    top: 0;
    right: 0;
    /* text-align: right; */
}

.top-center {
    top: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.bottom-center {
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
}

.middle-left {
    top: 48%;
    left: 0;
}

.middle-right {
    top: 48%;
    right: 0;
}

.middle-center {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
} 
