body {
    background-color: #E0E6E6;
    font-family: optima, sans-serif;
}
.imgixContainer {
    display: flex;
    width: 85%;
    margin: 5% auto;
    background-color: #E0E6E6;
}

.sideMenuContainer {
    width: 45%;
    margin: 5% 0 5% 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
}

.imageContainer {
    width: 65%;
    margin: 5%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
 .image {
    position: relative;
    width: 100%;
    height: 100%;
}
.backgroundImage {
    position: relative;
    background-color: #4400bb;
    background-image: url(https://assets.imgix.net/examples/butterfly.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
}
.txt {
    position: absolute;
    bottom: 0;
}
.inputContainer {
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

.menuList {
    list-style-type: none;
    margin-top: 8%;
    padding-left: 4%;
}

.menuListItem {
    padding-bottom: 10%;
    width: 95%;
}

.inputElement {
    width: 75%;
    height: 7%;
    float: right;
    border: 1px solid #c9cdcf;
    border-radius: 2px;
    transition: border .2s ease-in-out,background-color .2s ease-in-out,color .2s ease-in-out;
    background-color: #F5F5F5;
}

@media only screen and (max-width: 1250px) and (min-width: 900px) {
    .inputElement {
        width: 65%;
        height: 7%;
        float: right;
    }
}

@media only screen and (max-width: 900px) {
    input,label {
        display: block;
    }
    .inputElement {
        width: 80%;
        height: 7%;
        float: none;
    }
    .menuListItem {
        padding-bottom: 3%;
        width: 95%;
    }
    .menuList {
        list-style-type: none;
        margin-top: 5%;
        padding-left: 4%;
    }
}

.textAlignElement {
    padding: 4% 4% 4% 40%;
}

#textAlignId {
    width: 75%;
    float: right;
}

.top-left {
    top: 0;
    left: 0;
}
.top-right {
    top: 0;
    right: 0;
}

.top-center {
    top: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.bottom-center {
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
}

.middle-left {
    top: 50%;
    left: 0;
    transform: translate(0%, -10%);
}

.middle-right {
    top: 50%;
    right: 0;
    transform: translate(0%, -10%);
}

.middle-center {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -10%);
} 
